WPF/Service References/UnivercityService/UnivercityService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61618/UnivercityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF.Model" />
  <xs:complexType name="StudentsList">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF.Model" minOccurs="0" name="Students" nillable="true" type="q1:ArrayOfStudent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentsList" nillable="true" type="tns:StudentsList" />
  <xs:complexType name="TeachersList">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF.Model" minOccurs="0" name="Teachers" nillable="true" type="q2:ArrayOfTeacher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeachersList" nillable="true" type="tns:TeachersList" />
  <xs:complexType name="CoursesList">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF.Model" minOccurs="0" name="Courses" nillable="true" type="q3:ArrayOfCourse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoursesList" nillable="true" type="tns:CoursesList" />
  <xs:complexType name="FacultiesList">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF.Model" minOccurs="0" name="Faculties" nillable="true" type="q4:ArrayOfFaculty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacultiesList" nillable="true" type="tns:FacultiesList" />
  <xs:complexType name="SectionsList">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF.Model" minOccurs="0" name="Sections" nillable="true" type="q5:ArrayOfSection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SectionsList" nillable="true" type="tns:SectionsList" />
</xs:schema>