WPF/Service References/UnivercityService/UnivercityService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Courses" nillable="true" type="tns:ArrayOfCourse" />
      <xs:element minOccurs="0" name="CurrentsClass" type="xs:int" />
      <xs:element minOccurs="0" name="EnrollmentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectionId" type="xs:int" />
      <xs:element minOccurs="0" name="Sex" type="tns:SexEnum" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfCourse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Course" nillable="true" type="tns:Course" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourse" nillable="true" type="tns:ArrayOfCourse" />
  <xs:complexType name="Course">
    <xs:sequence>
      <xs:element minOccurs="0" name="Credits" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SectionId" type="xs:int" />
      <xs:element minOccurs="0" name="Students" nillable="true" type="tns:ArrayOfStudent" />
      <xs:element minOccurs="0" name="Teachers" nillable="true" type="tns:ArrayOfTeacher" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Course" nillable="true" type="tns:Course" />
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
  <xs:complexType name="ArrayOfTeacher">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Teacher" nillable="true" type="tns:Teacher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeacher" nillable="true" type="tns:ArrayOfTeacher" />
  <xs:complexType name="Teacher">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Courses" nillable="true" type="tns:ArrayOfCourse" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grade" type="tns:GradeEnum" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sections" nillable="true" type="tns:ArrayOfSection" />
      <xs:element minOccurs="0" name="Sex" type="tns:SexEnum" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Teacher" nillable="true" type="tns:Teacher" />
  <xs:simpleType name="GradeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Master" />
      <xs:enumeration value="Doctorat" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GradeEnum" nillable="true" type="tns:GradeEnum" />
  <xs:complexType name="ArrayOfSection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Section" nillable="true" type="tns:Section" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSection" nillable="true" type="tns:ArrayOfSection" />
  <xs:complexType name="Section">
    <xs:sequence>
      <xs:element minOccurs="0" name="FacultyId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Teachers" nillable="true" type="tns:ArrayOfTeacher" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Section" nillable="true" type="tns:Section" />
  <xs:simpleType name="SexEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Man" />
      <xs:enumeration value="Women" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SexEnum" nillable="true" type="tns:SexEnum" />
</xs:schema>