WPF/Service References/UnivercityService/UnivercityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UnivercityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61618/UnivercityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61618/UnivercityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61618/UnivercityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF" />
      <xsd:import schemaLocation="http://localhost:61618/UnivercityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUnivercityService_GetStudentsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsList" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetStudentsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsListResponse" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_AddStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStudent" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_AddStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_ModifyStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyStudent" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_ModifyStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetTeachersList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachersList" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetTeachersList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachersListResponse" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetCoursesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesList" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetCoursesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesListResponse" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetFacultiesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultiesList" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetFacultiesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultiesListResponse" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetSectionsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSectionsList" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetSectionsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSectionsListResponse" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_TryLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:TryLogin" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_TryLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetStudentsNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsNumber" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetStudentsNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetTeachersNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachersNumber" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetTeachersNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachersNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetCoursesNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesNumber" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetCoursesNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetSectionsNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSectionsNumber" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetSectionsNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSectionsNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetFacultiesNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultiesNumber" />
  </wsdl:message>
  <wsdl:message name="IUnivercityService_GetFacultiesNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultiesNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="IUnivercityService">
    <wsdl:operation name="GetStudentsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnivercityService/GetStudentsList" message="tns:IUnivercityService_GetStudentsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnivercityService/GetStudentsListResponse" message="tns:IUnivercityService_GetStudentsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnivercityService/AddStudent" message="tns:IUnivercityService_AddStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnivercityService/AddStudentResponse" message="tns:IUnivercityService_AddStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnivercityService/DeleteStudent" message="tns:IUnivercityService_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnivercityService/DeleteStudentResponse" message="tns:IUnivercityService_DeleteStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnivercityService/ModifyStudent" message="tns:IUnivercityService_ModifyStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnivercityService/ModifyStudentResponse" message="tns:IUnivercityService_ModifyStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeachersList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnivercityService/GetTeachersList" message="tns:IUnivercityService_GetTeachersList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnivercityService/GetTeachersListResponse" message="tns:IUnivercityService_GetTeachersList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCoursesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnivercityService/GetCoursesList" message="tns:IUnivercityService_GetCoursesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnivercityService/GetCoursesListResponse" message="tns:IUnivercityService_GetCoursesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacultiesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnivercityService/GetFacultiesList" message="tns:IUnivercityService_GetFacultiesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnivercityService/GetFacultiesListResponse" message="tns:IUnivercityService_GetFacultiesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSectionsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnivercityService/GetSectionsList" message="tns:IUnivercityService_GetSectionsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnivercityService/GetSectionsListResponse" message="tns:IUnivercityService_GetSectionsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnivercityService/TryLogin" message="tns:IUnivercityService_TryLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnivercityService/TryLoginResponse" message="tns:IUnivercityService_TryLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentsNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnivercityService/GetStudentsNumber" message="tns:IUnivercityService_GetStudentsNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnivercityService/GetStudentsNumberResponse" message="tns:IUnivercityService_GetStudentsNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeachersNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnivercityService/GetTeachersNumber" message="tns:IUnivercityService_GetTeachersNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnivercityService/GetTeachersNumberResponse" message="tns:IUnivercityService_GetTeachersNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCoursesNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnivercityService/GetCoursesNumber" message="tns:IUnivercityService_GetCoursesNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnivercityService/GetCoursesNumberResponse" message="tns:IUnivercityService_GetCoursesNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSectionsNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnivercityService/GetSectionsNumber" message="tns:IUnivercityService_GetSectionsNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnivercityService/GetSectionsNumberResponse" message="tns:IUnivercityService_GetSectionsNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacultiesNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnivercityService/GetFacultiesNumber" message="tns:IUnivercityService_GetFacultiesNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnivercityService/GetFacultiesNumberResponse" message="tns:IUnivercityService_GetFacultiesNumber_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUnivercityService" type="tns:IUnivercityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudentsList">
      <soap:operation soapAction="http://tempuri.org/IUnivercityService/GetStudentsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <soap:operation soapAction="http://tempuri.org/IUnivercityService/AddStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IUnivercityService/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyStudent">
      <soap:operation soapAction="http://tempuri.org/IUnivercityService/ModifyStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeachersList">
      <soap:operation soapAction="http://tempuri.org/IUnivercityService/GetTeachersList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoursesList">
      <soap:operation soapAction="http://tempuri.org/IUnivercityService/GetCoursesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacultiesList">
      <soap:operation soapAction="http://tempuri.org/IUnivercityService/GetFacultiesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSectionsList">
      <soap:operation soapAction="http://tempuri.org/IUnivercityService/GetSectionsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryLogin">
      <soap:operation soapAction="http://tempuri.org/IUnivercityService/TryLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentsNumber">
      <soap:operation soapAction="http://tempuri.org/IUnivercityService/GetStudentsNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeachersNumber">
      <soap:operation soapAction="http://tempuri.org/IUnivercityService/GetTeachersNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoursesNumber">
      <soap:operation soapAction="http://tempuri.org/IUnivercityService/GetCoursesNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSectionsNumber">
      <soap:operation soapAction="http://tempuri.org/IUnivercityService/GetSectionsNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacultiesNumber">
      <soap:operation soapAction="http://tempuri.org/IUnivercityService/GetFacultiesNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UnivercityService">
    <wsdl:port name="BasicHttpBinding_IUnivercityService" binding="tns:BasicHttpBinding_IUnivercityService">
      <soap:address location="http://localhost:61618/UnivercityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>